{% load static %}

<style type="text/css">
p {
    font-family: sans-serif;
}
#loaderDiv {
     width: 100px;
     height:50px;
     margin: 0px auto;
}

label.custom-select {
    position: relative;
    display: inline-block;
}

    .custom-select select {
        display: inline-block;
        border: 2px solid #bbb;
        padding: 4px 3px 3px 5px;
        margin: 0;
        font: inherit;
        outline:none; /* remove focus ring from Webkit */
        line-height: 1.2;
        background: #f8f8f8;

        -webkit-appearance:none; /* remove the strong OSX influence from Webkit */

        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    /* for Webkit's CSS-only solution */
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .custom-select select {
            padding-right:30px;
        }
    }

    /* Since we removed the default focus styles, we have to add our own */
    .custom-select select:focus {
        -webkit-box-shadow: 0 0 3px 1px #c00;
        -moz-box-shadow: 0 0 3px 1px #c00;
        box-shadow: 0 0 3px 1px #c00;
    }

    /* Select arrow styling */
    .custom-select:after {
        content: "▼";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 60%;
        line-height: 30px;
        padding: 0 7px;
        background: #0099CC;
        color: white;

        pointer-events:none;

        -webkit-border-radius: 0 6px 6px 0;
        -moz-border-radius: 0 6px 6px 0;
        border-radius: 0 6px 6px 0;
    }

    .no-pointer-events .custom-select:after {
        content: none;
    }
</style>

<div id="country_id">
    <label class="custom-select">
    <select id="countries_id" class="countries_id">
        <option selected="selected">USA</option>
        <option value="India">India</option>
        <option value="Italy">Italy</option>
        <option value="China">China</option>
        <option value="Switzerland">Switzerland</option>
        <option value="UK">UK</option>
        <option value="Japan">Japan</option>
    </select>
    </label>
</div>

<div id="initialGraph">

</div>

<div id="tabs">

  <ul>
    <li><a href="#tabs-1">Total Energy Consumption</a></li>
    <li><a href="#tabs-2">Renewable</a></li>
    <li><a href="#tabs-3">Hydroelectric</a></li>
    <li><a href="#tabs-4">Solar</a></li>
    <li><a href="#tabs-5">Biomass</a></li>
    <li><a href="#tabs-6">Wind</a></li>
    <li><a href="#tabs-7">Geo Thermal</a></li>
    <li><a href="#tabs-8">Waste</a></li>
  </ul>

    <div id="loaderDiv">
      <canvas id="spinner"></canvas>
      <div id="loading">Loading..</div>
    </div>


    <div id="tabs-1">
    <div id="dropdown-1" class="dropdown-1">
    </div>
    <div id="grapharea-1">
    </div>
    <div id="line-grapharea-1">
    </div>
    <div id="column-grapharea-1">
    </div>
  </div>
  <div id="tabs-2">
    <div id="dropdown-2" class="dropdown-2">
    </div>
    <div id="grapharea-2">
    </div>
    <div id="line-grapharea-2">
    </div>
    <div id="column-grapharea-2">
    </div>
  </div>
    <div id="tabs-3">
    <div id="dropdown-3" class="dropdown-3">
    </div>
    <div id="grapharea-3">
    </div>
    <div id="line-grapharea-3">
    </div>
    <div id="column-grapharea-3">
    </div>
  </div>
    <div id="tabs-4">
    <div id="dropdown-4" class="dropdown-4">
    </div>
    <div id="grapharea-4">
    </div>
    <div id="line-grapharea-4">
    </div>
    <div id="column-grapharea-4">
    </div>

  </div>
    <div id="tabs-5">
    <div id="dropdown-5" class="dropdown-5">
    </div>
    <div id="grapharea-5">
    </div>
    <div id="line-grapharea-5">
    </div>
    <div id="column-grapharea-5">
    </div>
  </div>
  <div id="tabs-6">
    <div id="dropdown-6" class="dropdown-6">
    </div>
    <div id="grapharea-6">
    </div>
    <div id="line-grapharea-6">
    </div>
    <div id="column-grapharea-6">
    </div>
  </div>
  <div id="tabs-7">
    <div id="dropdown-7" class="dropdown-7">
    </div>
    <div id="grapharea-7">
    </div>
    <div id="line-grapharea-7">
    </div>
    <div id="column-grapharea-7">
    </div>
  </div>
  <div id="tabs-8">
    <div id="dropdown-8" class="dropdown-8">
    </div>
    <div id="grapharea-8">
    </div>
    <div id="line-grapharea-8">
    </div>
    <div id="column-grapharea-8">
    </div>
  </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{% static 'ajaxloader.min.js' %}"></script>

<!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">-->

<link rel="stylesheet"  href="{% static 'jquery-ui.css' %}" />


<script>
var opts = {
    size: 50,           // Width and height of the spinner
    factor: 0.15,       // Factor of thickness, density, etc.
    color: "#208EC1",      // Color #rgb or #rrggbb
    speed: 0.4,         // Number of turns per second
    clockwise: true     // Direction of rotation
};
var ajaxLoader = new AjaxLoader("spinner", opts);

function attach_column_graph(grapharea, graphname, data_dict) {
    var xAxisNames = getXAxisNames(data_dict);
    var yaxisName = getYAxisName(data_dict);
    var graphTitle = getGraphTitle(data_dict);
    chart = new Highcharts.Chart ({
            chart: {
                 height: 600,
                 width: 1200,
                 renderTo: grapharea,
                 type: 'column'
                 //reflow: false
            },
            title: {
                text: graphTitle
            },
            subtitle: {
                text: 'Source: World Bank'
            },
            xAxis: {
                categories: xAxisNames
            },
            yAxis: {
                min: 0,
                title: {
                    text: yaxisName
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: generateLineData(data_dict)
        });
}





function getXAxisNames(data_dict) {
    x_data = [];
    if ("xAxisLabels" in data_dict) {
      for (i=0; i<data_dict["xAxisLabels"].length; i++) {
        x_data.push(data_dict["xAxisLabels"][i]);
      }
    }
    return x_data;
}

function generateLineData(data_dict) {
    y_data = [];
    if ("yAxisValues" in data_dict) {
        intermediate_y = {}
        intermediate_y["data"] = data_dict["yAxisValues"];
        intermediate_y["name"] = data_dict["yAxisTitle"];
        y_data.push(intermediate_y);
    }
    return y_data;
}

function getYAxisName(data_dict) {
    if ("yAxisTitle" in data_dict)
      return data_dict["yAxisTitle"];
    else
      return "Nothing on Y axis";
}

function getGraphTitle(data_dict) {
    if ( "graphTitle" in data_dict)
      return data_dict["graphTitle"];
    else
      return "unknown graph";
}


    function fetch_and_draw(tab_id) {
            $("#loading").show();
            ajaxLoader.show();
            $("#line-grapharea-2").hide();
            $("#line-grapharea-1").hide();
            $("#line-grapharea-3").hide();
            $("#line-grapharea-4").hide();
            $("#line-grapharea-5").hide();
            $("#line-grapharea-6").hide();
            $("#line-grapharea-7").hide();
            $("#line-grapharea-8").hide();

            var country = $('#countries_id :selected').text();
            var metric = "Total"

            if (tab_id == 2) {
              metric="Renewable"
            }
            else if (tab_id == 3) {
              metric = "Hydro"
            }
            else if (tab_id == 4) {
              metric = "Solar"
            }
            else if (tab_id == 5) {
              metric = "Biomass"
            }
            else if (tab_id == 6) {
              metric = "Wind"
            }
            else if (tab_id == 7) {
              metric = "Geo"
            }
            else if (tab_id == 8) {
              metric = "Waste"
            }
            $.ajax({
                url : "/trends/fetch_and_draw_data",
                type : "GET",
                dataType: "json",
                data : {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    country : country,
                    metric : metric
                },

                success : function(json) {
                ajaxLoader.hide();
                $("#loading").hide();

                var grapharea = 'grapharea-' + tab_id;
                var line_grapharea = 'line-grapharea-' + tab_id;
                var column_grapharea = 'column-grapharea-' + tab_id;
                var line_graph_list;

                if (json) {
                   line_graph_list = {"graphTitle": json["graphTitle"] ,"xAxisLabels" : json["xAxisLabels"], "xAxisTitle" : json["xAxisTitle"],
                    "yAxisTitle" : json["yAxisTitle"], "yAxisValues" : json["yAxisValues"] };
                    attach_column_graph(line_grapharea, 'My Line Graph', line_graph_list);
                    $("#line-grapharea-2").show();
                    $("#line-grapharea-1").show();
                    $("#line-grapharea-3").show();
                    $("#line-grapharea-4").show();
                    $("#line-grapharea-5").show();
                    $("#line-grapharea-6").show();
                    $("#line-grapharea-7").show();
                    $("#line-grapharea-8").show();
                }
                else {
                    alert("Sorry, Data is not available for : " + country);
                }
              },
               error : function(xhr,errmsg,err) {
                 alert("Something bad happened ! Please try after some time");
               }
            });
    }

    $('#tabs').tabs({
        activate: function(event ,ui){
          var tab_id = ($("#tabs").tabs('option', 'active'));
          tab_id += 1;
          fetch_and_draw(tab_id);

        }
    });

    $('#countries_id').change(function()
        {
          var tab_id = ($("#tabs").tabs('option', 'active'));
          tab_id += 1;
          fetch_and_draw(tab_id);

    });

    $(function () {
        $(document).ready(function(){
            $('#initialGraph').hide();
            // code starts here
            $( "#tabs" ).tabs();

            var tab_id = ($("#tabs").tabs('option', 'active'));
            fetch_and_draw(1);
});
});
</script>